.App {
  text-align: center;
}

.home_text_boxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.home-text-group {
  display: flex;
  justify-content: center;
  margin: 20px;
}
